@font-face {
    font-family: Bungee;
    src: url(Bungee.ttf);
  }

@font-face {
font-family: Bungee-Regular;
src: url('Bungee-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:5px solid black;
}



#wrapper {
    position: fixed;
    height:100dvh;
    inset: 0;
    background-image: linear-gradient(120deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    
}
@media (min-width: 1050px) {
    #wrapper {
        padding: 50px;
        align-items: center;
        
    }
    
}
#advice-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
#advice {
    max-width:80%;
}


img {
    max-width: 1000px;
    display: block;
}
h1 {
    font-family: Bungee-Regular;
    font-size: 2.3rem;
    font-weight: normal;
    line-height: 2.3rem;
    color:#AD4182;
    min-height: 376px;
    word-wrap: break-word;
}
@media (min-width: 1050px) {
    h1 {
        font-size: 3.0rem;
        line-height: 3.0rem;
        min-height: 168px;
    }
    #advice {
        max-width: 100%;
    }
    #advice-wrapper {
        align-items: start;
        justify-content: left;
    }
    
}

button {
    font-family: Bungee-Regular;
    background-color: #CF4E9B;
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 280px;
    border-radius: 25px;
    cursor: pointer;
}
button:hover {
    background-color: #F05AB3;
}

input {
    font-family: Bungee-Regular;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    border: 2px dotted white;
    color:#CF4E9B;
    width: 280px;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem
}

@media (min-width: 1050px) {
    input {
        width: 500px;
    }
    #controls {
        text-align:start;
        flex-direction: row;
        justify-content: left;
    }
    
}

input:focus {
    border: 2px dotted #CF4E9B;
    outline: none;
}
